* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #070707;
}

.todo-container{
  width: 500px;
  border-radius: 20px;
  background: linear-gradient(135deg, #ba37d1, #0374);
  margin: 150px 400px;
  padding: 40px;
}

.todo-container h1{
  font-size: 40px;
  font-weight: lighter;
  color: bisque;
}
.input-section {
  width: 430px;
  height: auto;
  margin-top: 20px;
  background: rgb(255, 240, 222);
  border-radius: 40px;
  display: flex;
 
}
#task-input{
  width: 300px;
  height: 20px;
  padding: 15px;
  font-size: 15px;
  background: transparent;
  border: none;
  outline: none;
  
}
.input-section button{
  width: 100px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  color: bisque;
  border: none;
  background: #ba37d1;
}

#task-List {
  margin-top: 20px;

}
#task-List li {
  width: 300px;
  height: auto;
  padding: 10px;
  list-style: none;
  font-size: 15px;
  margin-top: 10px;
  background: rgb(255, 240, 222);
  border-radius: 20px;
  position: relative;
}

.delete-btn {
  width: 30px;
  height: 30px;
  text-align: center;
 position: absolute;
 right: 5px;
 bottom: 5px;
 font-size: 20px;
 cursor: pointer;
 
}
.delete-btn:hover {
  background: #ba37d1;
  border-radius: 50%;
}