*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
body{
    background: #222;
    padding: 100px 450px;
    overflow: hidden;
}

.container{
    width: 300px;
    height: 350px;
    padding: 50px;
    border-radius: 40px;
    background: linear-gradient(175deg, #00fe94, #5b548a);
    color: #222;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}

#search{   
    width: 200px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: #555;
    
}
.sec-1 .btn {
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: #555;
    cursor: pointer;
}

.sec-3{
    display: flex;
    justify-content: space-between;
}
.humidity img{
    width: 50px;
    height: 50px; 
}
.wind img{
    width: 50px;
    height: 50px;
}